.search-form {
  margin: 20px 0;
  clear: both;
}
.search-form .search-label {
  font-size: 15px;
  float: left;
  width: 100px;
  font-weight: bold;
  line-height: 40px;
}
.search-form .search-input {
  position: relative;
  font-size: 14px;
  padding: 10px 10px;
  width: 87%;
}

.search-form .searchSuggestions {
  padding: 10px 10px;
  width: 30%;
  float: left;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
